body{
    background-color: burlywood;
}
.container {
    width: 1200px;
    background-color: silver;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header {
    width: 1200px;
    background-color: slategray;
    height: 200px;
}

.sidebar-kiri {
    width: 200px;
    height: 600px;
    background-color: steelblue;
    float: left;
}

.isi {
    width: 800px;
    height: 600px;
    background-color: tomato;
    float: left;
    
    
}

.sidebar-kanan {
    width: 200px;
    height: 600px;
    background-color: teal;
    float: right;
}
.footer {
    background-color: yellowgreen;
    height: 50px;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 30px;
}